.buttonsContainer {
    display: flex;
    margin-left: 70px;
    gap: 15px;
    margin-bottom: 25px;
}

.responseContainer {
    width: 1048px;
    padding: 45px;
    margin-left: 162px;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.imageContainer {}

.image {}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.code {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 12px;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.info {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
