.sendForm {
    display: flex;
    padding-top: 1.625rem;
}

.textarea {
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 1.25rem;
    background-clip: padding-box;
    border: 1px solid transparent;
    color: #000000;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0.75rem 1.75rem;
    resize: none;
    transition: color .4s cubic-bezier(.445, .05, .55, .95),
    background-color .4s cubic-bezier(.445, .05, .55, .95),
    border-color .4s cubic-bezier(.445, .05, .55, .95),
    box-shadow .4s cubic-bezier(.445, .05, .55, .95),
    outline-color .4s cubic-bezier(.445, .05, .55, .95);
    width: 100%;
    overflow: hidden;
    outline-color: #F5F7FB;
}

.textarea::placeholder {
    color: #000000;
    opacity: .5;
}

.textarea:focus {
    outline-color: #D9D9D9;
}

.button {
    background-color: #0066CC;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 2.875rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 2.5rem;
    line-height: 1.25;
    padding: 0.625rem 2.5rem;
    text-align: center;
    transition: color .4s cubic-bezier(.445, .05, .55, .95), background-color .4s cubic-bezier(.445, .05, .55, .95), border-color .4s cubic-bezier(.445, .05, .55, .95), box-shadow .4s cubic-bezier(.445, .05, .55, .95), -webkit-box-shadow .4s cubic-bezier(.445, .05, .55, .95);
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 2.75rem;
    cursor: pointer;
}

.button:hover {

}

.button:active {

}
