.select {
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    width: 165px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.select:focus {
}


.option:hover {
    background: #000000;
    color: #0066CC;
}