.burgerMenuIcon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header {
    background-color: white;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 16px 70px;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}